// Variables
$website-width: 1280px;
$bg-color: #f6f6f6;
$bg-color-light: #f9f9f9;
$primary-color: #080f5b;
$secondary-color: #d0eaff;
$tertiary-color: #15db95;
$quatenary-color: #e9d19e;
$fifth-color: #e4c580;
$eye-color: #0072ae;
$eye-color-dark: #004c8c;