.container {
    max-width: $website-width;
    position: relative;
    padding: 0 1.5rem;
    margin: auto;
    text-align: center;
    // overflow: hidden;
}

.card {
    background: #f9f9f9;
    border: 1px solid #cccccc;
    padding: 1.5rem;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    // height: 100%;

    -webkit-filter: drop-shadow(0px 5px 10px #cccccc);
    filter: drop-shadow(0px 5px 10px #cccccc);

    h1 {
        font-size: 2rem;
        color: $eye-color;
        padding-bottom: .75rem;
    }

    h3 {
        font-size: 1.2rem;
        // padding-bottom: .75rem;
        color: $primary-color;
    }
    
    p {
        font-size: 1.2rem;
        line-height: 1.4;
        // padding-bottom: .75rem;
        padding: 1rem;

        span {
            color: $primary-color;
            font-weight: bold;
        }
    }
}

.background-card {
    margin-bottom: 1rem;
    img {
        height: auto;
        width: 50%;
        border-radius: 50%;
        border: 5px solid #cccccc;
        margin-bottom: .5rem;
    }
    h2 {
        // padding: 1rem 0;
        text-transform: uppercase;
        color: $eye-color-dark;
    }
}

.background-card-test {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    text-align: left;
    img {
        height: auto;
        width: 95%;
        // max-height: 250px;
        border-radius: 50%;
        border: 5px solid #cccccc;
    }
    h2 {
        // padding: 1rem 0;
        text-transform: uppercase;
        color: $eye-color-dark;
        text-align: center;
    }
    h3 {
        text-align: center;
        padding-bottom: 2rem;
    }
}

.btn-learn {
    display: block;
    background: $fifth-color;
    background: #f8bd7f;
    color: black;
    padding: 1rem 2.5rem;
    border-radius: 25px;
    transition: all .5s;
    // font-weight: bold;

    &:hover {
        background: #f5a44f;
        
    }
}

.current  {
    background: $eye-color-dark !important;
    // border-radius: 25px 25px 0 0;
    color: white;
    font-weight: bolder;
}



