@import 'config';
@import 'utilities';

* {
    padding: 0;
    margin: 0;
}

body {
    // font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#main-nav {
    // background: $eye-color;
    background: linear-gradient(#00a6ff, #0072ae);
    position: relative;
    z-index: 2;
    box-shadow: 0px -5px 20px black;

    #nav-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 0;
        background: white;
        div {
            padding-left: 1rem;
            h1{
                // color: $secondary-color;
                font-size: 2.5rem;
            }
            span {
                // color: $tertiary-color;
                float: right;
            }
        }
    }

    .nav-content {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        ul {
            display: flex;
        }
    }

    a {
        color: $bg-color-light;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        width: 150px;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background: $eye-color-dark;
            // border-radius: 25px 25px 0 0;
            color: white;
        }
    }

    img {
        height: auto;
        width: auto;
        max-height: 5rem;
    }
}

#home {
    background: url(/img/webb.png) repeat;
    z-index: 0;
    // overflow: hidden;
    #home-a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2.5rem 0;
        align-items: center;
        text-align: left;
        h1 {
            font-size: 3rem;
            color: $eye-color;
        }
        span {
            color: $eye-color-dark;
        }
        .images {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                padding-left: .5rem;
                height: auto;
                width: auto;
                max-height: 250px;
                border-radius: 50%;
            }
        }
    }

    #home-b {
        padding-bottom: 3rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 2fr 1fr 1fr;

        // Our prosthetics needs special formatting for inner content
        #our-prosthetics {
            .inner-cols {
                display: grid;
                margin: 1rem 0;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                text-align: center;

                h3 {
                    color: #222;
                }
                
                div{
                    padding: .5rem;
                    background: #ededed;
                    border-radius: 15px;
                }
            }
        }
    }
}

#about {
    background: url(/img/webb.png) repeat;
    .about-banner {
        width: 100%;
        height: 35vh;
        justify-content: center;
        object-fit: cover;
        box-shadow: 0px 5px 10px #cccccc;
    }
    #about-a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 1.5rem;
        padding: 2rem 0;
        align-items: start;
        justify-content: center;

        h1 {
            text-transform: uppercase;
        }

        .background {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
        }
    }
}

// Needed to fix Chrome and Edge error with :focus creating black box border 
*,*:focus,*:hover{
    outline:none;
}

#contact {
    background: url(/img/webb.png) repeat;
    padding: 2rem 0;
    #contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        // gap: 1.5rem;
        box-shadow: 0 5px 10px #cccccc;
        // margin: 2rem 0;
        border-radius: 25px;
        overflow: hidden;
    }
    #contact-a {
        background: #f9f9f9;
        // margin: 2rem 0;
        // box-shadow: 0 5px 10px #cccccc;
        border-radius: 25px 0 0 25px;
        border: 1px solid #cccccc;
        padding: 2rem 3rem;

        #contact-form {
            display: flex;
            flex-direction: column;
            height: 90%;
            justify-content: space-between;
        }

        h2 {
            color: $primary-color;
            padding-bottom: 1rem;
        }

        .text-fields {
            display: flex;
            flex-direction: column;
            // padding: .5rem 1.5rem;

            .text-input {
                font-size: 1rem;
                padding: .5rem 1rem;
                margin-bottom: 1rem;
                border-radius: 25px;
                border: 1px solid rgb(180, 180, 180);
            }

            .text-input:focus {
                // border: 1px solid $tertiary-color;
                -webkit-box-shadow: 0 0 5px $eye-color;
                -moz-box-shadow: 0 0 5px $eye-color;
                box-shadow: 0 0 5px $eye-color;
            }

            textarea {
                height: 200px;
            }
        }

        button {
            display: inline;
            border: none;
            font-size: 1rem;
        }
    }

    #contact-b {
        // margin: 2rem 0;
        background: $eye-color;
        overflow: hidden;
        border-radius: 0 25px 25px 0;
        border: 1px solid #cccccc;
        border-left: none;
        // display: grid;
        // grid-template-columns: 4fr 1fr;
        // box-shadow: 0 5px 10px #cccccc;

        iframe {
            width: 100%;
            display: block;
        }

        #tab-contents {
            background: #cccccc;
            #Hamilton {
                display: none;
            }
            #StLucia {
                display: none;
            }

            .tab-content {
                animation: fade 1s;
                @keyframes fade {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
            }
        }

        .loc-tabs {
            display: flex;
            align-items: center;
            
            .tablink {
                display: block;
                width: 100%;
                padding: 1rem 0;
                margin: 0;
                background: $eye-color;
                color: white;
                font-size: 1.25rem;
                text-transform: uppercase;
                font-weight: bold;
                transition: all .5s;
                border-bottom: 1px solid $eye-color-dark;
                &:hover {
                    background: $eye-color-dark;
                }
            }
        }
    }
}

#learn {
    background: url(/img/bg-1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    .container {
        padding: 2.5rem 0;
    }
    h1 {
        font-size: 2.25rem;
        text-transform: uppercase;
        color: $eye-color;
        padding-bottom: .5rem;
    }
    h3 {
        font-size: 1.75rem;
        color: $primary-color;
    }
    p {
        padding-top: .5rem;
        padding-bottom: 2rem;
        font-size: 1.25rem;
        line-height: 1.5;
        // text-align: left;
    }
    .learn-content-section {
        margin: auto;
        margin-bottom: 3rem;
        max-width: 800px;
    }

    #learn-e{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        // https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp
        // .gallery-container{
        //     // position: relative;
        //     // max-width: 1000px;
        //     // overflow: hidden;
        //     // border-radius: 10px;
        //     // box-shadow: 0 0 10px rgba(0, 0, 0, .55);
            
        //     max-width: 1000px;
        //     position: relative;
        //     margin: auto;
        // }

        /* Slideshow container */
        .gallery-container {
            max-width: 1000px;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            // box-shadow: 0 0 10px rgba(0, 0, 0, .55);
            margin: auto;
        }
        
        /* Hide the images by default */
        .mySlides {
            display: none;
        }
        
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        img {
            display: block;
        }
        
        .prev {
            left: 0;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }
        
        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 1.5rem;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 1.5rem;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .dots-container {
            margin: 1rem 0;
        }
        
        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
            background-color: #717171;
        }
        
        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
        
        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

    }
}

#footer {
    padding: 4rem 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .55);
    background: #f9f9f9;

    .footer-content {
        display: flex;
        justify-content: space-between;
        color: #222;

        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footer-title {
                display: flex;
                align-items: center;
                img {
                    height: auto;
                    width: auto;
                    max-height: 50px;
                }
                h1 {
                    font-size: 1.5rem;
                }
            }
        }

        .locations {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1.75rem;

            display: flex;
            text-align: right;

            div {
                // border-left: 1px solid #ccc;
                padding-left: 2.5rem;
            }

            h1 {
                text-transform: uppercase;
                padding-bottom: 1rem;
            }

            .bottom-line {
                justify-content: right;
            }
        }
    }
}